<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3</ion-title>
    <ion-button (click)="launchToc()" color="light" size="small">Table of Contents</ion-button>
    <ion-button class="prev" (click)="launchChap2pt3()" color="dark" size="small">Back</ion-button>
    <ion-button class="next" (click)="launchChap3pt2()" color="dark" size="small">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Rel, a female kiero’khai in humanoid form, finished applying an inhaler to the mouth of a dwarven 
    victim, patting his shoulder as gently as possible. He nodded in thanks, the tension in his face 
    draining as pure air relieved his burning lungs.<br><br>
	  “Rel Kar’rakk?”<br><br>
    She turned toward the speaker. Although he was wearing a blue full-bodied hazard suit and rebreather 
    like herself, she recognized him as the renaken agent, Dryth, who’d radioed a call for help and given 
    them an account of the disaster. Although he had no personal need for the suit, he’d requested it, 
    wishing to prevent the rigorous decontamination he’d undergone from being reversed. And understandably 
    so, as the process was most uncomfortably thorough. It had been thanks to him that she’d been able to 
    organize the necessary medical assistance.<br><br>
    “I’ve finished reporting,” he said. “I was told to report to the head medic and provide further aid.”<br><br>
    Rel gestured for several other medics to search a row of buildings. “Come with me, then. We’ll finish this last side of the street.”<br><br>
    Dryth followed, helping her search each room for victims. The unprovoked attack on the Felldrun village, 
    so close to the borders of her country, made her volatile kiero’khai blood boil. With political tensions
    already in such a delicate balance, the incident was likely to cause an eruption in one form or another. 
    For many nations, it would be enough of an excuse to start a war, as the attack would no doubt be 
    blamed on her country.<br><br>
    Rel wished she could spit her disgust onto the soiled ground, but her mask prevented such an outburst.<br><br>
    “These buildings were completely gassed,” Dryth said, snapping her out of her thoughts. “Survivors are unlikely.”<br><br>
    “Mayhaps,” Rel replied, anger sharpening her words in a way she didn’t intend. More softly, she added, 
    “But we must search, however vain the hope.”<br><br>
    Dryth was silent as they rounded a corner. Rel cried out in agonized fury at the sight of a female kiero’khai, 
    her dull eyes coated in the platix poison, her once shimmering scales tarnished beyond recognition.<br><br>
    “She didn’t get the warning,” Dryth murmured heavily.<br><br>
	  “Couldn’t she fly away?” she demanded.<br><br>
    “Protecting her little one,” Dryth replied quietly. “I don’t think she knew about the poison until it was too late.”<br><br>
    Rel subsided, forcing herself to ignore her seething rage and cultivate a clearer perception of her 
    surroundings. Respectfully, she skirted the body and entered the shattered doorway, switching on her 
    helmet’s lights. The twin beams revealed billowing masses of copper-brown clouds that swirled around 
    their legs. Their feet splashed in pools of sickly copper liquid.<br><br>
    She scanned the floor, calling out, searching for any sign of life. A faint blue glow flickered in the farthest corner. 
    An active machine? Her lights pierced the gloom.<br><br>
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>Page 8</p>
  </ion-toolbar>
</ion-footer>
