<ion-header>
  <ion-toolbar>
    <ion-button (click)="launchToc()" color="light" size="small">Table of Contents</ion-button>
    <ion-button class="prev" (click)="launchChapter3()" color="dark" size="small">Back</ion-button>
    <ion-button class="next" (click)="launchHome()" color="dark" size="small">Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Despite years of training to remain calm in the face of catastrophe, she leapt back with a startled cry, stumbling 
    against Dryth, her six foot seven inch frame nearly knocking him over.<br><br>
    “Sorry, sorry,” she mumbled, eyes locked on the faint blue glow. She hurried to it, forcing herself to look.<br><br>
    A draykit, barely larger than a house cat and likely no older than a month, lay curled up on its side, 
    its body nearly immersed in a puddle of condensing poison. The irises of its wide, unblinking eyes 
    were rings of pale blue luminescence.<br><br>
	  “Her draykit,” Dryth stated flatly.<br><br>
    “It’s not fair,” Rel heard herself saying. She felt distant. Was she on the verge of tears? “It just 
    isn’t. But why are its eyes glowing? That’s not physically possible.” As she reached toward it, its 
    eyes closed and it coughed—rattling, throat-clenching, lung-racking coughs—spitting up a stream of 
    copper fluid. Then its tiny mouth opened, releasing a shuddering whimper. When its eyes opened again, the glow was gone.<br><br>
    Rel heard Dryth gasp. Without further thought as to the impossibility of its survival, she snatched up 
    the draykit and rushed out of the building, her long legs carrying her in leaps and bounds while the 
    renaken ran smoothly beside her.<br><br>
    Within moments, the draykit was swarmed by medical staff. As every bit of poison was scrubbed from its black scales and 
    induced from its lungs, it worked up enough strength to utter a weak howl of protest.<br><br>
    “I can’t believe this,” Rel murmured over and over as she carefully wiped at its eyes. “It’s…he shouldn’t be alive. 
    He should’ve died instantly. Where’s the father?” She glanced at Dryth.<br><br>
    Dryth stared at the tiny infant, his thoughts hidden behind his silver halfling eyes. “There was no father. Just the mother.”<br><br>
    Rel’s gaze returned to the draykit as she swaddled it in soft white cloths. Its eyes were squeezed shut, and its breathing shallow. 
    She forced herself to face the expected reality. “He may not survive much longer despite our efforts.”<br><br>
    Dryth turned to her, smiling faintly, with the barest hint of smugness. “I think he’ll live.” 
    He watched her fuss over the draykit. “What will you name him?”<br><br>
	  “Name him?” She stared at Dryth.<br><br>
    “He’ll need a new mother.”<br><br>
    “Oh, I’m not…” She drifted into silence as the little fellow somehow found the strength to reflexively 
    gnaw at her gloved hand.<br><br>
    Her heart melted. Before she could stop herself, she blurted out, “Kierr’rocka.”
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>Page 9</p>
  </ion-toolbar>
</ion-footer>
