ion-header {
    text-align: center;
}
.prev {
    position: absolute;
    top: 25px;
    left: 10px;
}
.next {
    position: absolute;
    top: 25px;
    right: 10px;
}
ion-title {
    padding: 10px;
}
p {
    font-family: "Times New Roman", Times, serif;
}
ion-footer {
    color: rgb(77, 75, 75);
    text-align: center;
}