<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2</ion-title>
    <ion-button (click)="launchToc()" color="light" size="small">Table of Contents</ion-button>
    <ion-button class="prev" (click)="launchChap1pt3()" color="dark" size="small">Back</ion-button>
    <ion-button class="next" (click)="launchChap2pt2()" color="dark" size="small">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Lying prone on the flattened top of a watch-boulder near the edge of the plateau, well behind 
    enemy lines, Dryth, the son-of-a-kew halfling, peered through the scope of his sniper rifle, 
    observing the enemy’s progress.<br><br>
    With long black hair tied back in a simple ponytail, tawny skin, and sleek, youthful features 
    that belied his seventy years of age, most would’ve mistaken him for a faerian. Until they 
    noticed the silver threading his hair and his uncanny silver eyes.<br><br>
    A dreaded halfling. A renaken. The offspring of a rare union between a human and a faerian.<br><br>
    He watched as the frenzied mob assaulted the walls and gate, noting with disgust how the black-armored warrior 
    and his men remained behind with the wagons.<br><br>
	  The wagons. There was…something familiar about them.<br><br>
    He shook away the thought, focusing his crosshairs onto the helmeted head of the warrior, licking 
    his lips as he debated the shot. It angered him to know that such a cruel creature had been forged 
    with the blood of a captive renaken.<br><br>
    Again, however, his sights strayed to the wagons. He could see men unloading canisters from them, 
    strapping them onto their backs and pulling on masks.<br><br>
    Then he saw the symbol painted on the canisters and his blood froze.<br><br>
    Poison.<br><br>
    A poison that had been used in the last large-scale war fifty years ago—with horrendous effect against the draconic kiero’khai.<br><br>
    “Platix,” he hissed angrily, using the poison’s name in place of an expletive. The stuff was 
    supposed to have been mutually outlawed by all nations. As a renaken, he was immune to all forms of 
    poison, whether biological or chemical. The platix could not harm him, but to anyone else who breathed 
    it, it could prove deadly. To a kiero’khai in dragon form, a mere whiff or a few drops on their scales 
    would be all it took.<br><br>
    Dryth aimed his sniper rifle at one of the canisters. When he pulled the trigger, no sound could be 
    heard, but the effect was revealed in a massive explosion that sent a roiling plume of copper-colored 
    smoke high into the air. In the light of the setting sun, it looked like a fountain of blood. Although 
    startled, none of the soldier’s panicked, since their biological functions were secured by their gas 
    masks, and they had heard no gunshot, leading them to believe the canister had merely ruptured.<br><br>
    Dryth hunkered down. It was up to Bruk to recognize the warning signal. But when he returned his 
    sights to the warrior’s position, he was gone. He watched as the masked army formed up in ranks with 
    machine-like precision, and then marched up behind the mob.<br><br>
    From his vantage point, he saw that Bruk had recognized the warning and had cleared the walls, likely 
    falling back to the deep mining equipment for masks of their own. The slavering mob climbed onto the 
    parapet unhindered, raising their weapons and cheering at the sight of the warrior’s army joining them.<br><br>
    Their cheers turned to choked screams as the soldiers opened the valves of their platix tanks, engulfing 
    the mob in those hideous, copper-tinted clouds. Dryth watched in horrified stillness.<br><br>
    First a Nesruni warrior, then a poison designed to target the kiero’khai, and now no witnesses.<br><br>
	  What had that sooty crag rat demanded of poor Calnic?
  </p><br>
  <p class="copy-right">© Maria J. Ziemer</p>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <p>Page 5</p>
  </ion-toolbar>
</ion-footer>
