<ion-header>
  <ion-toolbar>
    <ion-button (click)="launchToc()" color="light" size="small">Table of Contents</ion-button>
    <ion-button class="prev" (click)="launchChapter1()" color="dark" size="small">Back</ion-button>
    <ion-button class="next" (click)="launchChap1pt3()" color="dark" size="small">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    “Most likely up to his regular halfling trickery,” a massively built kierro’khai joked. 
    Bruk’s first great-grandson, Bor’ak. “I have a feeling we’ll soon be seeing his handiwork.”<br><br>
    All conversation ceased as the enemy’s footsteps grew more distinct with each passing minute.<br><br>
    “Not all of them are soldiers,” the faerian stated quietly.<br><br>
    Jeers and shouts echoed from the other side of the wall, rising above the dying wind.<br><br>
    “They’ve gone and riled up the bloodless fanatics,” Bruk spat.<br>
    Filing up onto the walls, they crouched behind the battlements and peered past the jutting 
    crenulations. They watched as Calnic, one of the elder humans, slipped through the gate and 
    cautiously approached the intruders, his hands raised in a gesture of peace. It had been the 
    old fellow’s idea, and no one had been able to dissuade him from seeking a means to end the 
    fight without bloodshed.<br><br>
    The army-backed mob halted. To Bruk and his fellow defenders’ horror, a black-armored warrior 
    materialized from the crowd, striding forward to meet Calnic.<br><br>
    “Bad,” whispered Fyrl. “Bad, bad, bad.”<br><br>
    “What’s a Nesruni spawn doing here,” Bor’ak growled. “We’re not that important.”<br><br>
    Although stunned, Calnic made to speak with the warrior, but before he could finish his greeting, 
    the warrior brushed aside his words with a dismissive wave.<br><br>
    The faerian, able to hear the exchange, repeated it to the others.<br><br>
    “Your village may live on peacefully, elder, if you grant me one request.”<br><br>
    Visibly taken aback, Calnic asked, “What is it you want? We pay the taxes and abide by the laws. 
    How are we a threat to you?”<br><br>
    Glancing up at those on the walls, the warrior pressed his hollow-eyed, masked face within inches 
    of Calnic’s, whispering so quietly even the faerian failed to catch it.<br><br>
	  Calnic recoiled. “Never! We could never mur—”<br><br>
    The sleek metal barrel of a syther sidearm flashed in the light of the setting sun. A shot cracked 
    across the plateau. The elder fell, the sight of his blood inciting the mob into harsh cheers.<br><br>
    “Grandpa…” the human, Fyrl, whispered hoarsely. Bruk saw the muscles in his jaw clench as his klauger's 
    igniter came alive with a hiss.<br><br>
    Shocked by the sudden violence, the Felldrun villagers watched in dismay and rising anger as the 
    warrior turned to the crowd and proclaimed in a voice that echoed from the depths of his 
    blackened armor, “Death to the soulless and to all who sympathize with them!”<br><br>
    The mob roared its approval, driving itself to greater heights of frenzy as it rushed the gate, 
    waving spears, swords, rifles, loks, and tattered banners painted black and white. The nightmarish scene was 
    bathed in the lowering sun’s red-tinged light, seeming to embody the mob’s desire for innocent blood.<br><br>
    Bruk noted how the warrior’s disciplined troops did not advance with them, no doubt preferring to 
    let them soften Felldrun’s defenses in their stead.<br><br>
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>Page 3</p>
  </ion-toolbar>
</ion-footer>
