<ion-header>
  <ion-toolbar>
    <ion-button (click)="launchToc()" color="light" size="small">Table of Contents</ion-button>
    <ion-button class="prev" (click)="launchChap2pt2()" color="dark" size="small">Back</ion-button>
    <ion-button class="next" (click)="launchChapter3()" color="dark" size="small">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    With dismay, he remembered that she’d brought a newly hatched kiero’khai, a draykit, with her. 
    Why hadn’t she evacuated with Bruk? Had the warning not reached her?<br><br>
    A weak, shrill cry from inside the building caught the attention of the soldiers and the warrior, 
    giving Dryth the distraction he needed to slip into the structure opposite them. With eleven soldiers, 
    not counting the warrior, he would need an advantage against their numbers. All but leaping the stairs 
    until he reached the third story, he unslung his sniper rifle and unfolded it with a snap, crouching 
    in front of a shattered window, bits of glass crunching beneath his boots.<br><br>
    But he was too late. The soldiers had already smashed in the windows and gassed the building. The draykit’s 
    cries grew muffled, and then fell silent.<br><br>
    With strength not his own, the warrior heaved the kiero’khai’s several-ton body away from the stone 
    door. He tested it, and found it locked. Drawing back a heavily armored foot, the warrior crushed 
    the door with one kick, shards clattering against the doorframe as dust billowed around him.<br><br>
    As one of the soldiers passed the warrior, hose in hand, he staggered. Escaping air 
    hissed from the bloody gap in his helmet as he folded to the ground.<br><br>
    From his position, Dryth silently cursed the shot. He’d been aiming for the warrior, and now he’d been 
    alerted to the presence of a sniper. Lining up his crosshairs, he pulled the trigger again. Although 
    the weapon was silent, giving no hint to his location, the bullet was deflected from its target as the 
    warrior whipped the blade of his sword across its path. He peered in the direction of the shot.<br><br>
	  Dryth gritted his teeth. Time to even the odds.<br><br>
    In mere seconds, the ten remaining soldiers stiffened and collapsed. The warrior, ignoring the chaos of 
    slumping bodies, slapped aside another bullet fired at his head.<br><br>
    Swiftly folding away the rifle, Dryth left the warrior to contemplate the deathly silence, hurrying 
    through the building to the ground floor. With an unlit dagger in his hand, he stepped from the shadow 
    of the doorframe and into full view.<br><br>
    They stared at each other, Dryth’s sharp-boned face a frozen mask, betraying no more emotion than the 
    warrior’s skull-like helm, now fitted with a gas mask.<br><br>
    The warrior tilted his head. “A halfling? I was unaware one existed in this backwater station. Or 
    would you prefer I used the name your kind favor? Renaken?”<br><br>
	  The draykit’s dying cry echoed in Dryth’s memory, fueling his rage.<br><br>
    “Your warning shot is what gave them the time they needed to survive,” the warrior continued. “If it 
    weren’t for you, they’d all be dead.” He looked down at the female kiero’khai. “But it doesn’t matter. 
    We are finished. No need to continue this fight.”<br><br>
    Before Dryth could react, the warrior darted down the street, disappearing in the shadows.<br><br>
    Enraged shouts drew closer, and Dryth heard the pounding of panicked boots before he saw a soldier 
    careening around a corner, only to fall in a stiff heap as a klauger round claimed his heart.<br><br>
    Dryth clenched his dagger, staring at the female kiero’khai, meeting her empty eyes in a moment of 
    helpless grief before turning to join Bruk’s counterattack. 
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>Page 7</p>
  </ion-toolbar>
</ion-footer>
