ion-header {
    text-align: center;
}
.prev {
    position: absolute;
    top: 10px;
    left: 10px;
}
.next {
    position: absolute;
    top: 10px;
    right: 10px;
}
ion-content {
    text-align: center;
}
h5:hover {
    background-color: #ddd;
    color: #607d8b;
}
h5 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
p {
    font-family: "Times New Roman", Times, serif;
}
h6 {
    font-family: "Times New Roman", Times, serif;
    padding-top: 50px;
}
a {
    padding: 15px;
}
ion-footer {
    color: rgb(77, 75, 75);
    text-align: center;
}