ion-header {
    text-align: center;
    background-color: rgb(215, 219, 221);
}

ion-content {
    text-align: center;
}

p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: rgb(77, 75, 75);
    font-family: "Times New Roman", Times, serif;
}