<ion-header>
  <ion-toolbar>
    <ion-button (click)="launchToc()" color="light" size="small">Table of Contents</ion-button>
    <ion-button class="prev" (click)="launchChap1pt2()" color="dark" size="small">Back</ion-button>
    <ion-button class="next" (click)="launchChapter2()" color="dark" size="small">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    “Fire as you will!” Bruk howled. Thrusting the pipe of his double-barreled klauger through a 
    firing slit, he took aim and fired. The rifle bucked against his shoulder with a satisfying jolt, 
    and a bloody gap opened up in the frothing throng. A few bullets spattered into the stone around 
    him, none of them well aimed.<br><br>
    A deafening volley of defiance followed, meeting the mob, cutting down swathes with glowing hot 
    rounds that melted through flesh and whatever pitiful armor the attackers had managed to cobble together.<br><br>
    But the retaliation served to anger the mob further. Ignoring their fallen, they surged forward, closing 
    the distance to the walls.<br><br>
    One of the defenders, a human unfamiliar to Bruk, took a bullet to his head and fell from the wall.<br><br>
    What attackers had managed to survive the onslaught mindlessly hacked at the gates, while others 
    with a bit more brain left in their bloodless skulls had brought hooked ropes and wooden ladders 
    for the occasion.<br><br>
    Fyrl handed Bruk a hand-sized canister. Lighting its dangling fuse with his klauger’s igniter, 
    Bruk tossed it into the seething mass below, shouting the age-old miner’s warning call.<br><br>
	  “Prime!”<br><br>
    Recognizing the call, his fellow defenders ducked, with the occasional faerian clapping hands over their ears.<br><br>
    Crudely constructed but ruthlessly designed, the grenade exploded, sending thousands of deadly 
    molten shards scything through the flesh and bone of their tormentors. The screams of the wounded 
    and dying erupted in its wake.<br><br>
	  The dead remained silent.
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>Page 4</p>
  </ion-toolbar>
</ion-footer>
