<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1</ion-title>
    <ion-button (click)="launchToc()" color="light" size="small">Table of Contents</ion-button>
    <ion-button class="prev" (click)="launchToc()" color="dark" size="small">Back</ion-button>
    <ion-button class="next" (click)="launchChap1pt2()" color="dark" size="small">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    “They’re coming!"<br><br>
    Bruk glanced up sharply, his keen eyes following the shouting guard’s pointing finger. 
    He didn’t need to be in the watchtower to know who was coming.<br><br>
    “Our sympathizer was all too right,” remarked Gier the dwarf as he shoved his thick-plated safety 
    helmet onto his head and finished loading his klauger cross-rifle, grunting in satisfaction as the thread-like 
    igniter bloomed a menacing glow in the gathering dusk.<br><br>
    “Well, if it’s a fight they want, the Lo’ak clan is all too eager to sate their bloodlust!” bellowed Bruk. 
    As leader of the small but fearsome clan of draconic, shape-shifting people known as the kiero’khai, 
    who called the Felldrun mining village their home, his words roused a chorus of growls from his many 
    sons and grandsons, their calloused fists gripping their klauger cross-rifles and fire-loks tighter. His daughters, 
    granddaughters, and only remaining sister kept stoically silent as they fell back to wait among the 
    buildings, each momentarily disappearing into a cloud of pale glowing mist as they shifted into their dragons forms, ready to tear 
    the enemy apart should they break through the first line of defense. 
    Most of the kiero’khai males remained in their tall, heavily-built humanoid forms, 
    having shape-shifted recently in order to fit in the mining tunnels. They would be 
    unable to assume their far larger dragon forms until the next day. <br><br>
    “If the worst comes, we have the mining explosives to fall back on,” panted Fyrl, a human miner, as he paused 
    in his task of rolling a rock-filled barrel toward the gate. Made of ancient rine wood, the gate’s blackened 
    surface was almost as tough as the weathered stone walls that encircled the mining village. If he’d been standing 
    on the parapet, Bruk would’ve been treated to a breath-taking view of forests and fields, woven with silver 
    rivers. With the village mounted on a plateau of redstone, snuggled up against a sheer mountain that was tall enough to 
    sport a snow-capped peak, the wind often had a chilling bite. Or, at least, that’s what he’d been told by the 
    less hardy humans.<br><br>
    “This time is different,” one of the tawny-skinned faerians said, his vibrant blue eyes glazing over as he 
    tilted his head and listened. Bruk had been told they could use sound to create mental images of their 
    surroundings. “They have more troops with them and some heavy equipment in those wagons. It seems 
    they mean business this time,” the faerian explained.<br><br>
    They all paused a moment to listen with the faerian. With the constant whistle of the wind fading as night 
    approached, they could hear the marching of armored feet, the sharp tread of horses, and the steady rumble 
    of wagons trundling up the broad, zigzagging road that wound up the plateau.<br><br>
    Bruk had briefly entertained the idea of mounting a defense on the road itself, but it was simply too wide to 
    offer any advantage. They’d be exposed to the scatter-cannons below.<br><br>
    “Where’s that slippery son-of-a-kew, Dryth?” Groused Trun, another human miner. “He should be here by now.”
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>Page 2</p>
  </ion-toolbar>
</ion-footer>
