<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    “They’re coming!”<br>
    Bruk glanced up sharply, his keen eyes following the shouting guard’s pointing finger. He didn’t need to be perched in the watchtower to know who was coming. 
    “Our sympathizer was all too right,” remarked Gier the dwarf as he shoved his thick-plated safety helmet onto his head and finished loading his klauger cross-rifle, grunting in satisfaction as the igniter bloomed a menacing glow in the gathering dusk. 
    “Well, if it’s a fight they want, the Lo’ak clan is all too eager to sate their blooklust!” bellowed Bruk. 
  </p>
  <p class="page">Page 2</p>
</ion-content>
