<ion-header>
  <ion-toolbar>
    <ion-button (click)="launchToc()" color="light" size="small">Table of Contents</ion-button>
    <ion-button class="prev" (click)="launchChapter2()" color="dark" size="small">Back</ion-button>
    <ion-button class="next" (click)="launchChap2pt3()" color="dark" size="small">Next</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Folding his sniper rifle and slinging it onto his back, Dryth slid down the ladder at the back of the 
    watch-boulder. In the deepening gloom, his eyes easily made out the wagons and support units left 
    behind as guards. He counted thirty of them.<br><br>
    The gas cloud from his shot still lingered, putrid smelling even at a distance. It would provide 
    excellent cover for him in the fading light, since night vision was notoriously expensive for humans, 
    and grunts like these weren’t worth the price.<br><br>
    Gripping one of the five daggers in his belt, he darted across the open space, a cloud’s shadow to any 
    who may have looked his way. When he reached the first wagon, he threw himself behind it, pressing his 
    thumb into the dagger’s pommel. The blade’s edge emitted a molten glow that matched the last burning 
    glare of sunlight as it slipped below the horizon.<br><br>
    Within moments, the last unsuspecting guard thudded to the ground, a smoking dagger protruding from his back.<br><br>
    The dagger twitched, and then flew out of the corpse and into Dryth’s waiting hand. His gloved fingers 
    closed over the hilt and his thumb deactivated the burning glow. Taking a moment to survey his 
    handiwork, he flexed his fingers, the black, metal-plated leather of his gauntlets creaking. He glanced
    down at them, thankful that he’d managed to smuggle them in when he’d returned to the Felldrun village. 
    They made throwing the daggers a far more viable option, since the gauntlets used a magnetic frequency 
    to call them back.<br><br>
    Such weaponry was frowned upon in this country, which had laid claim to the surrounding mining communities 
    long before he was born, especially since they were often at political odds with its manufacturer.<br><br>
    He looked up at the walls of the Felldrun village. Fire and smoke rose from homes in gushing waves, reflecting a 
    memory. A memory that had been etched into his being nearly sixty years ago. At barely ten years of 
    age, he’d lost his parents, a faerian mother and a human father, to the madness of war.<br><br>
    When his home had been left to burn to ashes, Bruk had appeared, leading the Felldrun people in an 
    attempt to bring aid to their devastated neighbors. Dryth had been one of the few survivors left. 
    As a halfling, a renaken, if his lineage was discovered, his freedom would be forfeit, as renaken 
    blood was in high demand, but Bruk had taken him in as one of his own, despite the risk.<br><br>
    Dryth shook his head. He could’ve stayed away, free of this corrupted country, free to live as a 
    halfling, unashamed of his mixed parentage.<br><br>
    But these people, the Felldrun mining village, his family, had needed him. Bruk, his adopted father, 
    had needed him. They all needed him now, as a renaken. The madness of another war was threatening to 
    tear them apart. But this time, he was not a helpless, half-blind child.<br><br>
    It was time to take down the prey he’d been born to hunt.<br><br>
    Whispering across the rocky ground, he slipped up a ladder left behind by the mob, moving with the 
    shadows as he followed the direction of the shouts and screams. The air was thick with the acrid 
    stench of the platix poison, causing his eyes to water and his lungs to wheeze slightly.
    Dashing from one squat, soot-grimed building to the next, Dryth finally jerked to a stop, pressing 
    himself against a gritty stone wall at the sight of the black-armored warrior, standing over the 
    crumpled, platix-coated body of a female kiero’khai in dragon form, her lifeless body stretched 
    across the entrance of what he assumed had been her home. Dryth recognized her as a newcomer, a 
    wanderer from unknown lands seeking a place to start anew. 
  </p><br>
  <p class="copy-right">© Maria J. Ziemer</p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>Page 6</p>
  </ion-toolbar>
</ion-footer>
