ion-content {
    text-align: center;
}
ion-card-content {
    background-image: url("../../assets/images/lava.jpg");
    background-color: #292c2f;
    color: ghostwhite;
}
ion-card-title {
    color: ghostwhite;
    font-size: 2.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: rgba(41, 44, 47, 0.7);
    border-radius: 15px;
}
ion-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}