<ion-header>
  <ion-nav>
    <ion-title>Home Page</ion-title>
  </ion-nav>
</ion-header>

<ion-content (click)="launchToc()" padding>
  <ion-card>
    <ion-card-content class="c-card-home">
      <ion-card-title class="title-home">
        Kierr'rocka
      </ion-card-title>
      <ion-img width="324.5" height="207.25" src="../../assets/images/Kierr.jpg"></ion-img>
    </ion-card-content>
  </ion-card>
  <!-- <ion-item [routerLink]="'/toc'" routerDirection="forward">Table of Contents</ion-item> -->
  <!-- <button ion-button full="true" (click)="launchToc()">Table of Contents</button> -->
  <!-- <ion-button color="dark" [routerLink]="['/toc']">Table of Contents</ion-button> -->
</ion-content>
