ion-content {
    text-align: center;
}
ion-card-content {
    background-image: url("../../assets/images/lava.jpg");
    background-color: #292c2f;
    color: ghostwhite;
}
ion-card-title {
    font-size: 2.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: rgba(41, 44, 47, 0.7);
    color: rgb(55, 226, 248);
    text-shadow: 0 0 30px rgb(208, 252, 255);
    border-radius: 15px;
}
ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}